<div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
    <h2>Carregando uma coisinha...</h2>
</div>

<div *ngIf="!loading">
    <h1 class="title">Te amo meu amô!</h1>
    <div class="heart">
        <div class="square"></div>
        <div class="circle top"></div>
        <div class="circle left"></div>
    </div>

    <ul>
        <li>Braba</li>
        <li>Fofa</li>
        <li>Carinhosa</li>
        <li>Esperta</li>
        <li>Já falei fofa?</li>
        <li>Gostosa</li>
        <li>Sincera</li>
        <li>Sorriso</li>
        <li>Zoeirinha</li>
        <li>Parceira</li>
    </ul>
    <h3>E imaginar que teriamos essa conexão e sincronia boa.</h3>
    <h2> Minha amiga, parceira, namorada, amante e futura esposa.</h2>

</div>